# Fallstudie Flink
## Standortentscheidung

## Modell

### Indexmengen
$s \in S$ : Menge der potenziellen DarkStores (Standorte)

$i \in I$ : Menge der i-Koordinaten 

$j \in J$ : Menge der j-Koordinaten

### Parameter
$n_{ij}$ : Nachfrage an $i$$j$

$u_{s}$ : Lagerumschlagsleistung an Standort $s$

$c_{s}$ : Errichtungskosten für Standort $s$

$ki_{s}$ : $i$-Kooridnate von Standort $s$ 

$kj_{s}$ : $j$-Kooridnate von Standort $s$

### Entscheidungsvariablen

$V_{sij} \in \{0,1\}$ : Binäre Versorgungsvariable

$Y_{s} \in \{0,1\}$ : Binäre Standortausbauvariable

### Zielfunktion
Max $NA =  Y_s* v_s -  \sum_{i,j} (V_{s,i,j} * n_{i,j})$   
$∀ s$

### Nebenbedingungen

**(1) Budget einhalten**

$\sum_{s} (c_s*Y_s) \le 1.000.000 $

Summe über: 

Kosten  für Ausbau * Entscheidung Ausbau <= Budget

**(2) Lieferzeit einhalten**

$(|ki_s - i| + |kj_s - j|)* v_{s,i,j} \le 5 $

$∀ s,i,j$


Prüfe für jedes $s, i , j$:

Entfernung  <= 5, wenn $ij$ von $s$ beliefert wird

**(3) Keine Doppelbedienung der Quandranden**

$\sum_s v_{s,i,j} \le 1$

$∀ i, j$

Prüfe für alle Koordinaten, ob Belieferung kleiner gleich 1.

**(4) Kapazitäten einhalten**

$\sum (V_{s,i,j}* n_{i,j}) \le u_s$

$∀ s$

Prüfe für jeden Standort:

Summe Versorgung (ja/nein) * Nachfrage  ist kleiner (gleich) als Umschlagsleistung.

## Implementierung

In [231]:
# Notwendigen Programminstallationen
# pip als Paketmanager
!pip install -U -q pip
!pip install -q ortools
# Laden des Programms
from ortools.linear_solver import pywraplp

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [232]:
# Solver mit SCIP als Backend.
# SCIP implementiert Simplex, Branch-and-Bound, etc
solver = pywraplp.Solver.CreateSolver('SCIP')

## Datenaufbereitung


1.   Fallstudien-Daten in Google-Drive laden
2.   Google-Drive mit Colab-Notebook verbinden
3.   Daten mit `pandas` laden

In [233]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [234]:
# Ordner finden
! ls drive/MyDrive/Industrielles_Management/Daten/Fallstudie

Nachfrage.csv  Standorte.csv

In [235]:
# Pfad zurückgeben
! cd drive/MyDrive/Industrielles_Management/Daten/Fallstudie && pwd

/content/drive/MyDrive/Industrielles_Management/Daten/Fallstudie

In [236]:
# Daten laden
import pandas as pd

In [237]:
path = "/content/drive/MyDrive/Industrielles_Management/Daten/Fallstudie"

In [238]:
# Nachfragedaten lesen & speichern
nachfrage_df = pd.read_csv(f"{path}/Nachfrage.csv", sep=";")

In [239]:
# Nachfragedaten ausgeben
nachfrage_df

    Unnamed: 0   0   1   2   3   4   5   6   7   8   9  10  11  12
0            0   7  91  34  77  33  47  43  51  81  28  88  74  81
1            1  73  82  76  51  80  42  83  19  37  37  85  18  67
2            2  85  57  67  14   1  92  41  32  16  83  65  39  18
3            3  42  87  23  56  15  99  60  85  90  68   9  63  88
4            4  23  93  36  65  96  31   8  54  27  74  59  70  36
5            5   2  71  34  38  62  45  86  95  93  12  83  59  17
6            6  31  41  54   1  97  73   5  73  44  93  94   2  56
7            7  61  44  86   1  69  65  32  95  61  39   7  61  31
8            8  59  49   1  70  86  26  62  40  96  82   3  20  83
9            9  10  38  37  77  16  94  34  67  96  64  32  30  63
10          10  56  35  21  89  28  60  90  21  65  25  68  73  43
11          11  35  91   9  32  25  86  41  41  52   4  28  65  24
12          12  13  10  17  42  61  37  52  66  10  13  15  72  83

In [240]:

# nachfrage is a dictionary of nachfrage_df. The first key are the values of column 1 (i coordinate) 
# the second key are the values of the columns (j coordinate)
# skip the first column for the second key since it's not an j cooridnate

nachfrage = {int(row[0]): {int(col): value for col, value in row.items() if col != 'Unnamed: 0'} for _, row in nachfrage_df.iterrows()}

# test if it worked

# nachfrage i=0 & j=7
print(nachfrage[0][7])

#nachfrage i=10 & j=12
print(nachfrage[10][12])

51
43

In [241]:
# Standortdaten lesen & speichern
standorte = pd.read_csv(f"{path}/Standorte.csv", sep=";", decimal=",")

In [242]:
# Standortdaten ausgeben
standorte

,Potenzielle_Standorte,i_Koordinate,j_Koordinate,Lagerumschlagleistung,Errichtungskosten
0,0,1,0,500,100000
1,1,8,11,600,90000
2,2,10,4,500,95000
3,3,10,10,750,101000
4,4,13,6,725,98500
5,5,4,8,750,97500
6,6,13,7,455,105000
7,7,4,6,3000,225000
8,8,12,6,1400,300000
9,9,4,4,2250,200000

## Indexmengen

In [243]:
# Standorte
S = standorte["Potenzielle_Standorte"].unique().tolist() # Menge der Standorte

In [244]:
# Ausgabe Standorte
S

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [245]:
# I Kooritnaten
I = [key for key, value in nachfrage.items()]

print('I-Koordinaten: ' + str(I))

I-Koordinaten: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [246]:
# J Koordinaten
J = [list(value.keys()) for value in nachfrage.values()][0]

print('J-Koordinaten: ' + str(J))

J-Koordinaten: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

## Parameter

In [247]:
# Standortkoordinaten

# I-Koordinate von Standort S
ki_s = standorte.set_index(["Potenzielle_Standorte"]).to_dict("dict")["i_Koordinate"]

# J-Koordinate von Standort S
kj_s = standorte.set_index(["Potenzielle_Standorte"]).to_dict("dict")["j_Koordinate"]

# check
print(ki_s)
print(kj_s)

{0: 1, 1: 8, 2: 10, 3: 10, 4: 13, 5: 4, 6: 13, 7: 4, 8: 12, 9: 4}
{0: 0, 1: 11, 2: 4, 3: 10, 4: 6, 5: 8, 6: 7, 7: 6, 8: 6, 9: 4}

In [248]:
# Umschlagsleistung
u = standorte.set_index(["Potenzielle_Standorte"]).to_dict("dict")["Lagerumschlagleistung"]
#check
u

{0: 500,
 1: 600,
 2: 500,
 3: 750,
 4: 725,
 5: 750,
 6: 455,
 7: 3000,
 8: 1400,
 9: 2250}

In [249]:
# Errichtungskosten
c = standorte.set_index(["Potenzielle_Standorte"]).to_dict("dict")["Errichtungskosten"]
#check
c

{0: 100000,
 1: 90000,
 2: 95000,
 3: 101000,
 4: 98500,
 5: 97500,
 6: 105000,
 7: 225000,
 8: 300000,
 9: 200000}

In [250]:
# Nachfrage
n = nachfrage
#check
n[0][0]

7

## Entscheidungsvariablen

In [251]:
# Binäre Versorgungsvariable
V={}
for s in S: 
  for i in I:
    for j in J:
        V[s,i,j] = solver.BoolVar(f"{s},{i},{j}")

#check
V[1,3,7]

1,3,7

In [252]:
# Binäre Standortausbauvariable
Y={}
for s in S:
  Y[s] = solver.BoolVar(f"{s}")


#check
Y[1]

1

In [253]:
#infinity = solver.infinity()

In [254]:
print('Anzahl Entscheidungsvariablen =', solver.NumVariables())

Anzahl Entscheidungsvariablen = 1700

## Zielfunktion

### Zielfunktion
Max $NA =  Y_s* v_s -  \sum_{i,j} (V_{s,i,j} * n_{i,j})$   
$∀ s$

# neue Zielfunktion

Maximiere Nachfrageabdeckung:

Max $NA = \sum_{i,j} (V_{s,i,j} * n_{i,j}*Y_s)$

In [264]:

for s in S:
  solver.Maximize(

      #sum(V[s,i,j]* n.get((i,j),0) for i in I for j in J)     
  )

  # * Y[s]????

TypeError: ignored

## Nebenbedingungen

**(1) Budget einhalten**

$\sum_{s} (c_s*Y_s) \le 1.000.000 $

Summe über: 

Kosten  für Ausbau * Entscheidung Ausbau <= Budget

In [256]:
for s in S:
  solver.Add(sum(c[s]*Y[s] for s in S)<= 1000000)

**(2) Lieferzeit einhalten**

$(|ki_s - i| + |kj_s - j|)* v_{s,i,j} \le 5 $

$∀ s,i,j$


Prüfe für jedes $s, i , j$:

Entfernung  <= 5, wenn $ij$ von $s$ beliefert wird

In [257]:
for s in S:
 for i in I:
    for j in J:
      solver.Add((abs(ki_s[s]-i) +abs(kj_s[s]- j)*V[s,i,j])<=5)

**(3) Keine Doppelbedienung der Quandranden**

$\sum_s v_{s,i,j} \le 1$

$∀ i, j$

Prüfe für alle Koordinaten, ob Belieferung kleiner gleich 1.

In [258]:
for i in I:
  for j in J:
    solver.Add(sum(V[s,i,j] for s in S)<=1)

**(4) Kapazitäten einhalten**

$\sum (V_{s,i,j}* n_{i,j}) \le u_s$

$∀ s$

Prüfe für jeden Standort:

Summe Versorgung (ja/nein) * Nachfrage  ist kleiner (gleich) als Umschlagsleistung.

In [259]:
for s in S:
  solver.Add(sum(V[s,i,j]*n.get((i,j),0) for i in I for j in J)<= u[s])

  # klären, wieso key error bei n. Eigentlich sollte die Nachfrage für jeden Quadranden vorhanden sein???

## Berechnung Lösung

In [260]:
status = solver.Solve()

if status == pywraplp.Solver.OPTIMAL:
    print('LÖSUNG:')
    print('Zielfunktionswert (Nachfrageabdeckung) =', solver.Objective().Value())
else:
    print('Problem hat keine Lösung')

Problem hat keine Lösung

In [261]:
for s in S:
  print(f"Standort: {s}")
  print("Wir bauen aus: 0/1: ")
  Y[s]

Standort: 0
Wir bauen aus: 0/1:
Standort: 1
Wir bauen aus: 0/1:
Standort: 2
Wir bauen aus: 0/1:
Standort: 3
Wir bauen aus: 0/1:
Standort: 4
Wir bauen aus: 0/1:
Standort: 5
Wir bauen aus: 0/1:
Standort: 6
Wir bauen aus: 0/1:
Standort: 7
Wir bauen aus: 0/1:
Standort: 8
Wir bauen aus: 0/1:
Standort: 9
Wir bauen aus: 0/1: